<?xml version="1.0"?>
<launch>
	<!-- acquisition arguments -->
	<arg name="channel" default='1'/>	
	<arg name="plugin" default='rosneuro::EGDDevice'/>
	<arg name="devarg" default='/home/$(env USER)/rec_test/demo.gdf'/>
	<arg name="framerate" default='16'/>
	<arg name="samplerate" default='512'/>

	<!-- load filter chain parameters -->
	<rosparam command="load" file="$(find rosneuro_tutorials)/config/ChainCfgDemoAlpha.yaml" />

	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen">
		<param name="~plugin" 	  value="$(arg plugin)"/>
		<param name="~devarg" 	  value="$(arg devarg)"/>
		<param name="~samplerate" value="$(arg samplerate)"/>
		<param name="~framerate"  value="$(arg framerate)"/>
	</node>

  <node name="neuroviz" pkg="rosneuro_visualizer" type="neuroviz" required="true" /> 

	<node name="filterchain_node" pkg="rosneuro_filters" type="filterchain_node" output="screen" >
		<param name="configname" value="ChainCfgTest" />
	</node>	
	
	<!-- alpha waves processing -->
	<node name="alpha_waves_processing_node" pkg="rosneuro_tutorials" type="alpha_waves_processing.py" output="screen" >
			<param name="rate" value="framerate" />
	</node>
	
	<node name="bar_plot" pkg="rosneuro_tutorials" type="bar_plot.py" output="screen">
  	  <param name="~channel" 	  value="$(arg channel)"/>
  	</node>



</launch>
